<%= turbo_frame_tag "quote_#{quote.id}" do %>
  <div class="quote">
    <%= link_to quote.name, quote_path(quote) %>
    <div class="quote_action">
      <%= link_to 'Delete',
        quote_path(quote),
        data: { turbo_method: :delete }  %>
      <%= link_to 'Edit',
        edit_quote_path(quote)%>
    </div>
  </div>
<% end %>
